<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DistrictManagerEngine.Properties.Settings.District12ConnectionString"
            connectionString="Data Source=ERNIE\SQLEXPRESS;Initial Catalog=District12;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>